<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">  # 设置useGeneratedKeys为true，返回数据库自动生成的记录主键id keyProperty = "id"则是将生成的id自动赋给Dish类中的id对象
        insert into sky_take_out.dish(name, category_id, price, image, description, create_time, update_time, create_user, update_user, status)
        values (#{name},#{categoryId},#{price},#{image},#{description},#{createTime},#{updateTime},#{createUser},#{updateUser},#{status})
    </insert>
</mapper>
