<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetMealDishMapper">

    <select id="getSetMealIdsByDishIds" resultType="java.lang.Long">
        select setmeal_id from sky_take_out.setmeal_dish where dish_id in
        <foreach collection="list" item="dishId" separator="," open="(" close=")">  # 因为传入的是(1,2,3)所以用open表示最左边的字符close表示最右边的字符并用,分割
            #{dishId}
        </foreach>
    </select>
</mapper>
